<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parseApplicationId</key>
	<string>imrY9hgX4z5AQ4bF56hR8f12vm4OhbLw09if7qem</string>
	<key>parseClientKey</key>
	<string>w8FKcN1IBdMvPE5CDVmycrs92Obyvpfjs34qCjqe</string>
</dict>
</plist>
